{% extends "base.html" %}
{% block content %}
<h2>Cadastrar Produto</h2>

<form method="POST">

    <label>Categoria:</label>
    <input name="categoria" placeholder="Ex: calçados, vestuário..." required>

    <label>Tipo:</label>
    <input name="tipo" placeholder="Ex: tênis, jaqueta, shorts..." required>

    <label>Gênero:</label>
    <input name="genero" placeholder="masculino, feminino, unissex" required>

    <label>Marca:</label>
    <input name="marca" placeholder="Ex: Nike, Adidas..." required>

    <label>Cor:</label>
    <input name="cor" placeholder="Ex: Preto, Azul, Vermelho..." required>

    <label>Tamanho:</label>
    <input name="tamanho" placeholder="Ex: 42, M, GG..." required>

    <label>Preço de Custo:</label>
    <input type="number" step="0.01" name="preco_custo" placeholder="Ex: 59.90" required>

    <label>Preço de Venda:</label>
    <input type="number" step="0.01" name="preco_venda" placeholder="Ex: 129.90" required>

    <label>Quantidade:</label>
    <input type="number" name="quantidade" placeholder="Ex: 10" required>

    <button type="submit">Cadastrar Produto</button>
</form>

{% endblock %}